<nav>
  <div >
    <a  routerLink="/home">Car Invantory Management</a>
        <ul >
          <a  routerLink="/show-data">Get All Cars</a>
        </ul>
        <ul >
          <a  routerLink="/getcarbyid">Get Car By ID</a>
        </ul>
        <ul >
          <a  routerLink="/deletebyid">Delete Car By ID</a>
        </ul>
        <ul>
          <a routerLink="/top">Get Top N Cars</a>
        </ul>
        <ul >
          <a routerLink="/updatebyid">Update Car</a>
        </ul>
  </div>
</nav>

<div style="text-align: center">

  <button (click)="goHome()">go back</button>


<!-- Input for top N cars-->
<div>
    <div>
      <input type="number" placeholder="Enter N" [(ngModel)]="n" />
      <button (click)="fetchTopNCars()">Get Top N Cars</button>
    </div>
  
    <!-- Display top N cars -->
    <div *ngIf="topCars.length">
      <h3>Top {{ n }} Cars</h3>
      <ul>
        <li *ngFor="let car of topCars">{{ car.name }} - {{ car.year }}</li>
      </ul>
    </div>
  </div>
  </div>