<nav>
  <div >
    <a  routerLink="/home">Car Invantory Management</a>
        <ul >
          <a  routerLink="/show-data">Get All Cars</a>
        </ul>
        <ul >
          <a  routerLink="/getcarbyid">Get Car By ID</a>
        </ul>
        <ul >
          <a  routerLink="/deletebyid">Delete Car By ID</a>
        </ul>
        <ul>
          <a routerLink="/top">Get Top N Cars</a>
        </ul>
        <ul >
          <a routerLink="/updatebyid">Update Car</a>
        </ul>
  </div>
</nav>

<div style="text-align: center">

  <button (click)="goHome()">go back</button>

  <!-- Input for car ID -->
  <div>
    <input [(ngModel)]="carId" type="number" placeholder="Enter Car ID" />
    <button (click)="fetchCarById()">Get Car by ID</button>
  </div>

  <div *ngIf="car">
    <h3>Car Details</h3>
    <p><strong>Name:</strong> {{ car.name }}</p>
    <p><strong>Year:</strong> {{ car.year }}</p>
    <p><strong>Selling Price:</strong> {{ car.sellingPrice }}</p>
    <p><strong>KM Driven:</strong> {{ car.kmDriver }}</p>
    <p><strong>Fuel:</strong> {{ car.fuel }}</p>
    <p><strong>Seller Type:</strong> {{ car.sellerType }}</p>
    <p><strong>Transmission:</strong> {{ car.transmission }}</p>
    <p><strong>Owner:</strong> {{ car.owner }}</p>
  </div>
</div>
