<div class="register-container">
  <form (submit)="register()">
    <div class="heading">
      <h2>User Registration</h2>
    </div>
    <div class="register-form">
      <input
        type="text"
        [(ngModel)]="user.username"
        placeholder="Username"
        name="username"
        required
      />
      <input
        type="email"
        [(ngModel)]="user.email"
        placeholder="Email"
        name="email"
        required
      />
      <input
        type="password"
        [(ngModel)]="user.password"
        placeholder="Password"
        name="password"
        required
      />
      <button type="submit" >Register</button>

      <div>
        <p>Already have an account? <a routerLink="/login"> Login </a></p>
      </div>
      
    </div>
  </form>
</div>

